
/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.cdnfonts.com/css/aristotelica-display-trial');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    padding: 0;
    margin: 0;
    font-weight: 400;
}
body, html {height: 100%;width: 100%; 
    background-image: url(https://th.bing.com/th/id/R.3bcb867f3b01ebbc7f561d77ef251161?rik=Ox9Ku6nazQudoQ&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', cursive;
}


.landing-page{
    position: absolute;
    background-color: rgba(0,0,0,50%);
    height: 100%;
    width: 100%;
}
.landing-page-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    color: white;
}
.landing-page-info hr{
    width: 55%;
    margin: auto;
}
.landing-page-info h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.landing-page-info p{
    width: 50%;
    margin: auto;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.5;
    font-family: sans-serif;
}
.btn-container{
    margin-top: 50px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-family: urbanist   ;
    padding: 15px;
}
.btn-container h1{
    font-size: 25px;
}

.btn-container button{
    border: 0;
    outline: 0;
    width: 75%;
    height: 35px;
    cursor: pointer;
    background-color: rgb(80, 160, 250);
    color: white;
    transition: all 0.3s ease-in-out;
    margin: 20px;
    border-radius: 25px;
}
.btn-container button:hover{
    transform: scale(1.1);
}